# =====================================
# Ambiente Virtual
# =====================================
.venv/
venv/

# =====================================
# Variáveis de ambiente
# =====================================
.env

# =====================================
# Cache do Python
# =====================================
__pycache__/
*.py[cod]

# =====================================
# Logs
# =====================================
*.log

# =====================================
# Configurações da IDE
# =====================================
.vscode/
.idea/

# =====================================
# Arquivos do sistema operacional
# =====================================
.DS_Store
Thumbs.db

# =====================================
# Arquivos temporários
# =====================================
*.tmp
*.temp

# =====================================
# Testes e cobertura
# =====================================
.pytest_cache/
.coverage
htmlcov/

# =====================================
# Build e distribuição
# =====================================
build/
dist/
*.egg-info/

xmls/

# Arquivo que não pertence ao projeto.
zapp.yaml